
body {
	margin: 0;
	background-color: #111;
	overflow: hidden;
}

canvas {
	position: fixed;
	width: 100%;
	opacity: 0;
	animation: fade-in .4s forwards;
}

@keyframes fade-in {
	to {
		opacity: 1;
	}
}

div {
	position: relative;
	font-family: 'Courier New';
	font-size: 16px;
	line-height: 1;
	color: #FFF;
	z-index: 1;
}